<h1>Hello World!</h1>
<h2>Welcome to the future of our Group project!</h2>
<br />
<h4><%= link_to "Start New Game", games_path, :method => :post %></h4>
<br />
<h3>Available Games</h3>
<h1><%= @games.inspect %></h1>

<% @games.each do |game| %>
  <p><%= game.name %></p>
<% end %>
