<div class="col-6 offset-1">
  <h1>Start New Game</h1>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
