@import "bootstrap";

.stats-board {
  padding: 12px;
}

.chessboard {
    width: 640px;
    height: 640px;
    margin: 12px + 15px;
    outline: 15px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #999;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.margin-bottom {
  margin-bottom: 70px;
}

.piece {
  background-color: lavender;
  margin: 2px;
}

.space-available {
  background-color: yellow;
  width: 100%;
  height: 100%;
  opacity: 30%;
}
